* {
	margin: 0px;
}
#popup {
	background-color:#FAFAFA;
}
#result {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
	border-top: 1px solid darkgrey;
	background-color: white;
}
#menu {
	background-color: powderblue;
	border-bottom: 1px solid black;
	height:40px;
}
#menu>span { /* logo */
	font-size:xx-large;
  color:darkmagenta;
	cursor: default; /* make the text based logo feel like an image */
}
#menu>div {
	background-color: yellow;
	height:100%;
	width:100px;
	text-align: center;
	font-size:18px;
	transition:all 800ms;
	cursor:pointer;
}
#menu>div:hover {
	background-color: yellowgreen;
}
#menu>div>p {
	margin-top:7px;
	text-transform:uppercase;
}
#menu>button,
#menu>div,
#menu>select {
	float:right;
}
#tools {
	position:fixed;
	right:0px;
	height:100%;
	width:300px;
	background-color: powderblue;
}
#tools>select {
	position:absolute;
	right:0px;
	width:200px;
}
#tools>button {
	width:100px;
}
#window {
	padding-bottom: 0px;
	margin-left:20px;
}
#window * {
	transition:all 250ms;
}
#popup {
	position:fixed;
	top:50px;
	left:50px;
	right:50px;
	bottom:50px;
	border: 1px solid darkgrey;
}
.prototype {
	border-top: 2px solid black;
	overflow:hidden;
}
.index {
	display:inline;
	margin-left:10px;
}
.expander {
	width:15px;
	height:100%;
	background-color: black;
	position:absolute;
	left:0px;
	cursor: pointer;
}
.input-control {
	display: inline-block;
	min-height: 1rem;
	height: 1.812rem;
	position: relative;
	vertical-align: middle;
	margin: 0px 0;
	line-height: 1;
}
.input-control.text,
.input-control.select,
.input-control.file,
.input-control.password,
.input-control.number,
.input-control.email,
.input-control.tel {
  width: 20rem;
}
.input-control.text .prepend-icon,
.input-control.select .prepend-icon,
.input-control.file .prepend-icon,
.input-control.password .prepend-icon,
.input-control.number .prepend-icon,
.input-control.email .prepend-icon,
.input-control.tel .prepend-icon {
  width: 16px;
  height: 16px;
  font-size: 24px;
  line-height: 1;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 4px;
	z-index: 2;
	color: #999999;
}